@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to <br />
        Quick Redirects For Azure Websites
    </h1>
    <p>
        This is a simple application which helps developers to open frequently used links just by typing the path at the end of their application.
        Since I am working with Azure Websites, I added online editor, Kudu and Portal links. You can add/amend as many urls as you wish.
        Kind of a simple bookmark manager for devs.
    </p>
    <p>/dev will open VS Online editor for your azure website.</p>
    <p>/kudu will open Azure Kudu for your azure website.</p>
    <p>/portal will open Azure Portal webapps page.</p>
    <p>.....</p>
    <p>....</p>
    <p>...</p>
    <p>..</p>
    <p>.</p>
</div>
